<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" media="screen">

    <link rel="stylesheet" href="static/bootstrap/css/bootstrap-responsive.min.css" media="screen">



    <link href="static/css/styles.css" rel="stylesheet" media="screen">



    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="static/vendors/jquery-1.9.1.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>


    
    <link href="static/bootstrap-select-1.13.0/css/bootstrap-select.css" rel="stylesheet">
    
    <script src="static/bootstrap-select-1.13.0/js/bootstrap-select.js"></script>
    <script src="static/bootstrap-select-1.13.0/js/i18n/defaults-zh_CN.js"></script>

</head>
<body>
        <select class="selectpicker form-control" multiple>
                <option value="1">浙江省</option>
                <option value="2">江苏省</option>
                <option value="3">福建省</option>
                <option value="4">湖南省</option>
                <option value="5">山东省</option>
        </select>
</body>

</html>